email=${ARTIFACTORY_USER}
always-auth=true
registry=https://wingmate.jfrog.io/artifactory/api/npm/default-npm-virtual/
//wingmate.jfrog.io/artifactory/api/npm/default-npm-virtual/:_auth=${ARTIFACTORY_AUTH_TOKEN}
