.ErrorChecker {
  height: 90vh;
  padding: 40px;

  .ErrorChecker__header {
    .header__title {
      text-align: center;
    }

    .header__fileInput {
      width: 300px;
    }
  }

  .ErrorChecker__editors {
    .editors__dataEditor .Text.S {
      font-style: italic;
    }

    .editors__result {
      .Text.H3 {
        margin-top: 120px;
      }
    }
  }
}